.field-youtube_video span {
	text-align:left;
	position: relative;
}

.field-youtube_video .description {
	padding-top:8px;
}

.field-youtube_video a.change {
	color: #999;
	float:right;
}

.field-youtube_video a.change:hover {
	color: #d43;
}

.field-youtube_video input.hidden {
	display: none;
}